@import '@fontsource-variable/inter';
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  /* --color-border: var(--border); */
  --color-border: oklch(0.6334 0 0);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* my colors */
  --color-neutral-200: var(--neutral-200);
  --color-custom-neutral-200: var(--custom-neutral-200);
  --color-custom-neutral-100: var(--custom-neutral-100);
  --color-gray-50: oklch(0.9491 0 0);

  --color-black-400: var(--black-400);
  --color-black-500: var(--black-500);

  --color-neutral-600: var(--neutral-600);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);

  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);

  --shadow-sec: var(--shadow-sec);
  --shadow-pri: var(--shadow-pri);
  --shadow-ter: var(--shadow-ter);
  --radius-10: 10px;

  --font-sans: 'Inter Variable', 'Inter', system-ui, sans-serif;
  --font-abeat: 'MyFont Variable', 'MyFont', system-ui, sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* my colors */

  --custom-neutral-200: oklch(0.9189 0 0);
  --custom-neutral-100: oklch(0.9067 0 0);
  --neutral-200: oklch(0.9255 0.0027 286.35);
  --neutral-600: oklch(22% 0.004 275);
  --black-400: oklch(0.4784 0 0);
  --black-500: oklch(0.2237 0.0024 325.66);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --primary-50: oklch(97% 0.02 356.5);
  --primary-100: oklch(0.5803 0.2252 359.96 / 5.1%);
  --primary-200: oklch(85% 0.1 356.5);
  --primary-300: oklch(75% 0.16 356.5);
  --primary-400: oklch(68% 0.21 356.5);
  --primary-500: oklch(61.8% 0.25 356.5);
  --primary-600: oklch(52.9% 0.23 356.5);
  --primary-700: oklch(45% 0.2 356.5);
  --primary-800: oklch(36% 0.16 356.5);
  --primary-900: oklch(28% 0.12 356.5);

  --red-50: oklch(97% 0.02 29); /* very light tint */
  --red-100: oklch(90% 0.06 29);
  --red-200: oklch(75% 0.12 29);
  --red-300: oklch(63.74% 0.233 29.43); /* your base #FF3B30 */
  --red-400: oklch(55% 0.22 29);
  --red-500: oklch(48% 0.2 29);
  --red-600: oklch(42% 0.18 29);
  --red-700: oklch(35% 0.16 29);
  --red-800: oklch(27% 0.13 29);
  --red-900: oklch(20% 0.1 29); /* deepest shade */

  --shadow-sec:
    0px 0px 0px 1px oklch(35% 0 260 / 8%),
    0px 1px 2px 0px oklch(30% 0 260 / 12%);
  --shadow-pri: 0px 0px 0px 4px oklch(0.5803 0.2252 359.96 / 5.1%);
  --shadow-ter:
    0px 2.77px 2.21px 0px oklch(0 0 0 / 0.05),
    0px 6.65px 5.32px 0px oklch(0 0 0 / 0.07);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-heading-1 {
    @apply text-4xl font-bold font-sans leading-tight;
  }
  .text-heading-2 {
    @apply text-3xl font-semibold font-sans leading-snug;
  }
  .text-heading-3 {
    @apply text-2xl font-medium font-sans;
  }
  .text-body-large {
    @apply text-lg font-normal leading-relaxed;
  }
  .text-body-medium {
    @apply text-base font-medium font-sans;
  }
  .text-body-small {
    @apply text-sm font-normal font-sans leading-normal;
  }

  .text-body {
    @apply text-sm font-medium font-sans;
  }
  .text-caption {
    @apply text-xs font-medium font-sans leading-tight;
  }
  .text-label {
    @apply text-sm font-medium font-sans leading-4 tracking-normal;
  }
  .logo-text {
    @apply text-[1.375rem] font-abeat font-normal;
  }
}
